header {
     background-color: #004632;
     color: white;
     height: 79px;
     display: flex;
}
header img {
    width: auto;
}


.main-container {
    display: flex;
    gap: 20px;
}

.sidebar {
    width: 250px;
    min-width: 250px;
    background-color: #A8FFB780;
    padding: 20px;
    height: 100vh;
    position: sticky;
    top: 0;
}

.container {
    flex: 1;
    padding: 20px;
}

.home-title{
    font-size: 90px;
}